html(ng-app="one-feed")
  head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js")
    script(src="/javascript/module.js")
  body
    div
      h1 Hello {{nome}}
      input(type="text", ng-model="nome", placeholder="Put your name here")

