extends layout

block content
  a(href="//github.com/juniorz/one-feed")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")

  .jumbo
    h1 The single source for geek chit-chat
    p.lead.
      We all now it's better off keeping an eye in the build!
    a.btn.btn-large.btn-success(href='/auth/facebook').
      Try it now!

  div
    h1 Hello {{nome}}
    input(type="text", ng-model="nome", placeholder="Put your name here")

    - users.forEach(function(user){
      p Welcome <strong>#{user.name}</strong>!
    - })

    p
      a(href="/auth/facebook") Login with Facebook (via server)

    p
      a(href="/auth/twitter") Login with Twitter (via server)

    p
      a(href="/auth/linkedin") Login with LinkedIn (via server)
